/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffffff
}
.banner{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;

}
.banner-bg{
    width: 1050px;
    height: 680px;
    display: flex;
    align-items:center;
}
.banner-bg img{
    width: 100%;
}

.banner-text{
    width: 50%;
}
.banner-text h1{
    font-size: 50px;
    color: white;
}
.banner-image{
    width: 50%;
}
.theme-btn{
    background-color: #E02C6D;
    padding:5px 20px;
    color: white;
    border: none;
    font-size: 16px;

}
.space {
    padding-left: 5px;
}